<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="nav-complex">
    <div th:switch="${#request.userPrincipal}" class="d-flex flex-column">
        <!--/* When user is not logged in  */-->
        <div th:case="${null}" class="d-flex">
            <div class="p-2">
                <div class="nav">
                    <a class="nav-link active" href="/">Home</a>
                </div>
            </div>
            <div class="ml-auto p-2">
                <div class="nav">
                    <a class="nav-link" href="/oauth2/authorization/github">Login with Github</a>
                    <a class="nav-link disabled" href="#">User not logged in</a>
                </div>
            </div>
        </div>
        <div th:case="*" class="d-flex">
            <!--/* userPrincipal was not null, we can display user login etc */-->
            <div class="p-2">
                <div class="nav">
                    <a class="nav-link active" href="/">Home</a>
                </div>
            </div>
            <div class="ml-auto p-2">
                <div class="nav">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="/admin">Admin</a>
                    <!--/* Login is taken from attributes, because principal name is some github ID and it looks like ex. [500000] */-->
                    <a class="nav-link" th:href="@{'https://github.com/' + ${#request.userPrincipal.principal.attributes.login}}" th:text="${#request.userPrincipal.principal.attributes.login}"></a>
                    <a class="nav-link" href="#" onClick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="nav-simple">
    <div class="d-flex flex-column">
        <div class="d-flex">
            <div class="p-2">
                <div class="nav">
                    <a class="nav-link" href="/">Home</a>
                </div>
            </div>
            <div class="ml-auto p-2">
                <div class="nav">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="/admin">Admin</a>
                    <!--/* Login is taken from attributes, because principal name is some github ID and it looks like ex. [500000] */-->
                    <a class="nav-link" th:href="@{'https://github.com/' + ${#request.userPrincipal.principal.attributes.login}}" th:text="${#request.userPrincipal.principal.attributes.login}"></a>
                    <a class="nav-link" href="#" onClick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>