<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <title>Admin Panel</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/logout.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbars :: nav-simple"></div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-md-5">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <h2>All rooms</h2>
                </div>
                <div class="p-2 ml-auto">
                    <a href="/admin/rooms" class="btn btn-success">Add Room</a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="rooms"></tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-md-5">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <h2>All Special Authorities</h2>
                </div>
                <div class="p-2 ml-auto">
                    <a href="/admin/authorities" class="btn btn-success">Add Authority</a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Authority Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="authorities"></tbody>
            </table>
        </div>

    </div>
</div>
<script type="application/javascript">

    var csrf = $("meta[name=_csrf]").attr("value");

    $.getJSON("/json/rooms", function (data) {
        if (data.length === 0) {
            $("#rooms").after("<p>No rooms</p>");
        } else {
            $.each(data, function (key, value) {
                var deleteButton = "<button class='btn btn-danger' onClick='deleteRoomWithId(\"" + value.id + "\")'>Delete</button>";
                $("#rooms").append("<tr><td>" + value.id + "</td><td>" + value.name + "</td><td>" + deleteButton + "</td></tr>")
            });
        }
    });

    $.ajax({
        url: "/json/special-authorities",
        type: "GET",
        headers: {"X-CSRF-TOKEN" : csrf},
        success: function(data) {
            if (data.length === 0) {
                $("#authorities").after("<p>No special authorities</p>");
            } else {
                $.each(data, function (key, value) {
                    var deleteButton = "<button class='btn btn-danger' onClick='deleteAuthorityWithId(\"" + value.id + "\")'>Delete</button>";
                    $("#authorities").append("<tr><td>" + value.id + "</td><td>" + value.username + "</td><td>"  + value.authority + "</td><td>" + deleteButton + "</td></tr>");
                });
            }
        }
    });

    function deleteRoomWithId(id) {
        var url = "/admin/rooms/" + id;
        $.ajax({
            url: url,
            type: "DELETE",
            headers: {"X-CSRF-TOKEN" : csrf},
            success: function(data) {
                if (data.deleted) {
                    location.reload();
                } else {
                    alert("Room deletion failed");
                }
            }
        });
    }

    function deleteAuthorityWithId(id) {
        var url = "/admin/authorities/" + id;
        $.ajax({
            url: url,
            type: "DELETE",
            headers: {"X-CSRF-TOKEN" : csrf},
            success: function(data) {
                if (data.deleted) {
                    location.reload();
                } else {
                    alert("Authority deletion failed");
                }
            }
        });
    }
</script>
</body>
</html>