<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <title>SpringWebSocketChat</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbars :: nav-complex"></div>
    <div class="row mt-md-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">All Rooms</h2>
            <div id="rooms" class="mt-md-4"></div>
        </div>
    </div>

</div>

<script type="application/javascript">
    var csrf = $("meta[name=_csrf]").attr("value");

    function logout() {
        $.ajax({
            method: "POST",
            url: "/logout",
            headers: {"X-CSRF-TOKEN":csrf},
            success: function() {
                location.replace("/");
            }
        })
    }

    $.getJSON("/json/rooms", function (data) {
        if (data.length === 0) {
            $("#rooms").after("<h3 class='text-center'>No rooms</h3>");
        } else {
            $.each(data, function(key, value) {
                var link = "/rooms/" + value.name;
                $("#rooms").append("<div class='card'><div class='text-center card-body'><a href=\"" + link + "\">" + value.name + "</a></div></div>");
            });
        }
    });
</script>
</body>
</html>