<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Room Not Found</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <nav class="nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" sec:authorize="hasRole('ADMIN')" href="/admin">Admin</a>
            <!--/* Login is taken from attributes, because principal name is some github ID and it looks like ex. [500000] */-->
            <a class="nav-link" th:href="@{'https://github.com/' + ${#request.userPrincipal.principal.attributes.login}}" th:text="${#request.userPrincipal.principal.attributes.login}"></a>
            <a class="nav-link" href="#" onClick="logout()">Logout</a>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-md-5">
            <h1 class="text-center mt-md-3" style="font-size: 45px;">404</h1>
            <p class="text-center mt-md-2" th:text="${message}" style="font-size: 35px;"></p>
        </div>
    </div>
</body>
</html>